@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


  /* @media (width <= 838px) {

  }
  @media (width <= 440px) {

  } */

body {
  font-family: 'Lexend', sans-serif;
/* header */
header {
    max-width: 994px;
    margin-inline: auto;

    #logo {
        position: relative;
        z-index: 200;
    }
}
.navigation_container {
    width: 100%;
    padding-block: 1rem;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .navigation_box {
        max-width: 994px;
        padding-inline: 1rem;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
          font-size: 20px;
          a{
            text-decoration: none;
            color: #000;
          }

        }
    }
}

.drawerButton {
    width: 48px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 200;

    img {
        width: 20px;
        margin-inline: auto;
        margin-bottom: 4px;
        transition: transform 0.3s ease-in-out;
    }

    img.active {
        transform: rotate(135deg);
    }

    span {
        font-size: 12px;
        letter-spacing: 0.02em;
        text-align: center;
    }
}

.drawerMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 120px;
    position: fixed;
    top: -100%;
    z-index: 150;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;

    ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;

        @media (width >= 768px) {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }

        li {
            font-weight: bold;
        }
    }
}

.drawerMenu.open {
    top: 0;
}



  .firstview{
    position: relative;
    padding-inline: 16px;
    h1{
      font-size: 32px;
      font-weight: 600;
      color: #fff;
      background-color: #cd3796;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
        @media (width <= 838px) {
          font-size: 26px;
  }
  @media (width <= 440px) {
    font-size: 20px;
  }

    }
    .firstviewImg{
      max-width: 994px;
      aspect-ratio: 1.62/1;
      margin-inline: auto;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* mainarea */
  main{
    max-width: 994px;
    margin-inline: auto;
    
    .secWrap{
      padding-block-start: 60px;
      padding-inline: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    .secTitle{
      width: 100%;
      margin-inline: auto;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      padding-block: 12px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }
  


.cardContainer {
  max-width: 994px;
  padding-block-start: 45px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  list-style: none;
  @media (width <= 838px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (width <= 440px) {
    display: flex;
    flex-direction: column;
  }
  .cardImg {
    max-width: 360;
    aspect-ratio: 4/3;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
.cardTextWrap{
  display: flex;
  justify-content: space-between;
  .cardtext{
    display: flex;
    flex-direction: column;
    h2{
      font-size: 15px;
      font-weight: 700;
    }
    p{
      font-size: 12px;
      font-weight: 400;
      color: #808080;
    }
  }
  .ratingButton{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
}


.plzFB{
  max-width: 671px;
  padding-block: 24px;
}
  .modalButton {
    color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #333;
}

.modalWrapper {
    text-align: center;
}

/* モーダルの背景 */
.modalOverlay {
    width: 100%;
    height: 100%;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent{
        max-width: 468px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
        
      .modalImg {
          width: 100%;
          height: 116px;
          margin-block-end: 26px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
        }
}
.modalBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 1rem;
  padding-block-end: 24px;

    h2{text-align: center;}
    p{font-size: 15px;}

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-inline: 16px;
    }
    
    /* フォームの１つ１つの箱 */
    .formwrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: #333;
      text-align: left;
    }
    .radiowrap {
      width: 283px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      font: 14px;
      font-weight: 500;
      span {
        display: flex;
        gap: 4px;
      }
    }
    .category {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      font-size: 14px;
      font-weight: 500;
    }
    textarea {
      height: 48px;
      border: 1px solid #333;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 500;
    }
}

}

  }
.footer {
  max-width: 994px;
  height: 50px;
  margin-inline: auto;
  margin-block-start: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1),
    rgba(45, 0, 0, 1)
  );

  h1 {
    font-size: 20px;
    font-weight: 700;
    color: #cd3796;
  }
}
}